{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mb-4">Products</h2>
<div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <div style="overflow: hidden; height: 200px;">
                <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}" style="object-fit: cover; height: 100%;">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title text-center">{{ product.name }}</h5>
                    <p class="card-text text-center">${{ product.price }}</p>
                </div>
                <a href="https://www.sandbox.paypal.com/checkoutnow?sessionID=uid_c730e8d319_mtq6mzq6ntk&buttonSessionID=uid_c46b0a4f93_mtq6mzu6mdg&stickinessID=uid_21d397872b_mtq6mzq6ntk&smokeHash=&sign_out_user=false&token=0BX647023N782754V&fundingSource=paypal&buyerCountry=US&locale.x=en_US&commit=true&client-metadata-id=uid_c730e8d319_mtq6mzq6ntk&enableFunding.0=venmo&standaloneFundingSource=&clientID=AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R&env=sandbox&sdkMeta=eyJ1cmwiOiJodHRwczovL3d3dy5wYXlwYWwuY29tL3Nkay9qcz9jbGllbnQtaWQ9dGVzdCZjdXJyZW5jeT1VU0QmYnV5ZXItY291bnRyeT1VUyZlbmFibGUtZnVuZGluZz12ZW5tbyIsImF0dHJzIjp7ImRhdGEtc2RrLWludGVncmF0aW9uLXNvdXJjZSI6InJlYWN0LXBheXBhbC1qcyIsImRhdGEtdWlkIjoidWlkX2JraWV5ZmZqZGR4c2lrdXRoanh5cWljbGhrb2h4ZSJ9fQ&xcomponent=1&version=5.0.442" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
